<div class="col-sm-4">
    <div class="list-group">
        <a href="/data/successRate" class="list-group-item">Success rate (static data)</a>
        <a href="/data/logarithmic" class="list-group-item">Logarithmic score (static data)</a>
        <a href="/data/brier" class="list-group-item">Brier score (static data)</a>
        <a href="/main/ranking" class="list-group-item">On the fly ranking</a>
    </div>
</div>
