<h4 id="title">...</h4>
<canvas id="brierChart" width="400" height="400" ></canvas>
<div class="result" style="float: right; margin-right: 256px"></div>
<div id="slider" style="width: 400px"></div>
<div id="value">20</div>
Ranking Method:
<select>
  <option value="pr">PageRank</option>
  <option value="colley">Colley</option>
  <option value="massey">Massey</option>
  <option value="elo">Elo</option>
  <option value="wp">WP</option>
  <option value="keener">Keener</option>
</select>
Estimator method:
<select>
  <option value="dist">Distance</option>
  <option value="rr">RankingRate</option>
  <option value="bt">Bradley-Terry</option>
</select>
