<h4 id="title-successRate">...</h4>
<canvas id="successRateChart" width="400" height="400" ></canvas>
<div class="result-successRate" style="float: right; margin-right: 256px"></div>
<div id="slider-successRate" style="width: 400px"></div>
<div id="value-successRate">50%</div>
Total: <div id="value-totalMatches">0</div>
Matches: <div id="value-matches">0</div>
Ranking Method:
<select>
  <option value="pr">PageRank</option>
  <option value="colley">Colley</option>
  <option value="massey">Massey</option>
  <option value="elo">Elo</option>
  <option value="wp">WP</option>
  <option value="keener">Keener</option>
</select>
Estimator method:
<select>
  <option value="dist">Distance</option>
  <option value="rr">RankingRate</option>
  <option value="bt">Bradley-Terry</option>
</select>
